/* Reseteo básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  background: #fff;
  font-family: Arial, sans-serif;
}

.container {
  width: 100%;
  height: 100%;
  /* Centramos el SVG en pantalla */
  display: flex;
  justify-content: center;
  align-items: center;
}

#plano-cocina {
  border: 1px solid #ccc; /* Para ver el contorno del SVG mientras trabajas */
}
